<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <ul>

        <li> <%=ghemassage.name%> </li>
        <li> <%=ghemassage.index%> </li>

    </ul>
    <a href="/nganhhang/edit/<%=ghemassage._id%>"><button id="sua">Edit</button></a>

  </body>
</html>
