<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      <textarea id="textareaGhemassage" name="description" placeholder="Nhập Mô tả" autocomplete="off"></textarea>
  </body>
</html>
