<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Trang chủ</a></li>
                        <li class="breadcrumb-item" active aria-current="page"> Ghế massage</li>
                    </ol>
                </nav>
            </div>
            <div class="col-xs-12">
                <%- include('../fontend/partials/slideshow-nganh-hang') %>
            </div>
            <div class="col-xs-12">
                <div class="header-main">
                  <h1>ghế massage
                    <span> (49 sản phẩm)</span>
                  </h1>
                  <div class="sort">Sắp xếp theo:
                      <i class="fa fa-sort"></i>
                      <select>
                          <option value="asc" selected>
                            Giá tăng dần
                          </option>
                          <option value="desc">
                            Giá giảm dần
                          </option>
                          <option value="desc">
                            Sản phẩm khuyến mại
                          </option>
                          <option value="desc">
                            Bán chạy nhất
                          </option>
                      </select>
                  </div>
                </div>
                <ul class="list-product">
                    <li class="item-product">
                        <div class="img-product">
                            <img src="/assest/image/image/ghe-massage-perfect-s406.jpg" alt=""/>
                        </div>
                        <div class="detail-product">
                            <div class="name-product">
                                <a href="">Ghế massage Max-care Max4D</a>
                            </div>
                            <div class="sale-off">
                              <span>-10.000.000đ</span>
                            </div>
                            <div class="wrap-price-buy">
                                <div class="wrap-price">
                                    <div class="price-sale">85.000.000đ</div>
                                    <div class="price">95.000.000đ</div>
                                </div>
                                <div class="buy">
                                  <a href="">
                                    <i class="fa fa-cart-plus"></i>

                                  </a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="item-product">
                        <div class="img-product">
                            <img src="/assest/image/image/ghe-massage-perfect-s406.jpg" alt=""/>
                        </div>
                        <div class="detail-product">
                            <div class="name-product">
                                <a href="">Ghế massage Max-care Max4D</a>
                            </div>
                            <div class="sale-off">
                              <span>-10.000.000đ</span>
                            </div>
                            <div class="wrap-price-buy">
                                <div class="wrap-price">
                                    <div class="price-sale">85.000.000đ</div>
                                    <div class="price">95.000.000đ</div>
                                </div>
                                <div class="buy">
                                  <a href="">
                                    <i class="fa fa-cart-plus"></i>
                                  </a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="item-product">
                        <div class="img-product">
                            <img src="/assest/image/image/ghe-massage-perfect-s406.jpg" alt=""/>
                        </div>
                        <div class="detail-product">
                            <div class="name-product">
                                <a href="">Ghế massage Max-care Max4D</a>
                            </div>
                            <div class="sale-off">
                              <span>-10.000.000đ</span>
                            </div>
                            <div class="wrap-price-buy">
                                <div class="wrap-price">
                                    <div class="price-sale">85.000.000đ</div>
                                    <div class="price">95.000.000đ</div>
                                </div>
                                <div class="buy">
                                  <a href="">
                                    <i class="fa fa-cart-plus"></i>
                                  </a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="item-product">
                        <div class="img-product">
                            <img src="/assest/image/image/ghe-massage-perfect-s406.jpg" alt=""/>
                        </div>
                        <div class="detail-product">
                            <div class="name-product">
                                <a href="">Ghế massage Max-care Max4D</a>
                            </div>
                            <div class="sale-off">
                              <span>-10.000.000đ</span>
                            </div>
                            <div class="wrap-price-buy">
                                <div class="wrap-price">
                                    <div class="price-sale">85.000.000đ</div>
                                    <div class="price">95.000.000đ</div>
                                </div>
                                <div class="buy">
                                  <a href="">
                                    <i class="fa fa-cart-plus"></i>
                                  </a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="item-product">
                        <div class="img-product">
                            <img src="/assest/image/image/ghe-massage-perfect-s406.jpg" alt=""/>
                        </div>
                        <div class="detail-product">
                            <div class="name-product">
                                <a href="">Ghế massage Max-care Max4D</a>
                            </div>
                            <div class="sale-off">
                              <span>-10.000.000đ</span>
                            </div>
                            <div class="wrap-price-buy">
                                <div class="wrap-price">
                                    <div class="price-sale">85.000.000đ</div>
                                    <div class="price">95.000.000đ</div>
                                </div>
                                <div class="buy">
                                  <a href="">
                                    <i class="fa fa-cart-plus"></i>
                                  </a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="item-product">
                        <div class="img-product">
                            <img src="/assest/image/image/ghe-massage-perfect-s406.jpg" alt=""/>
                        </div>
                        <div class="detail-product">
                            <div class="name-product">
                                <a href="">Ghế massage Max-care Max4D</a>
                            </div>
                            <div class="sale-off">
                              <span>-10.000.000đ</span>
                            </div>
                            <div class="wrap-price-buy">
                                <div class="wrap-price">
                                    <div class="price-sale">85.000.000đ</div>
                                    <div class="price">95.000.000đ</div>
                                </div>
                                <div class="buy">
                                  <a href="">
                                    <i class="fa fa-cart-plus"></i>

                                  </a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="item-product">
                        <div class="img-product">
                            <img src="/assest/image/image/ghe-massage-perfect-s406.jpg" alt=""/>
                        </div>
                        <div class="detail-product">
                            <div class="name-product">
                                <a href="">Ghế massage Max-care Max4D</a>
                            </div>
                            <div class="sale-off">
                              <span>-10.000.000đ</span>
                            </div>
                            <div class="wrap-price-buy">
                                <div class="wrap-price">
                                    <div class="price-sale">85.000.000đ</div>
                                    <div class="price">95.000.000đ</div>
                                </div>
                                <div class="buy">
                                  <a href="">
                                    <i class="fa fa-cart-plus"></i>
                                  </a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="item-product">
                        <div class="img-product">
                            <img src="/assest/image/image/ghe-massage-perfect-s406.jpg" alt=""/>
                        </div>
                        <div class="detail-product">
                            <div class="name-product">
                                <a href="">Ghế massage Max-care Max4D</a>
                            </div>
                            <div class="sale-off">
                              <span>-10.000.000đ</span>
                            </div>
                            <div class="wrap-price-buy">
                                <div class="wrap-price">
                                    <div class="price-sale">85.000.000đ</div>
                                    <div class="price">95.000.000đ</div>
                                </div>
                                <div class="buy">
                                  <a href="">
                                    <i class="fa fa-cart-plus"></i>
                                  </a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="item-product">
                        <div class="img-product">
                            <img src="/assest/image/image/ghe-massage-perfect-s406.jpg" alt=""/>
                        </div>
                        <div class="detail-product">
                            <div class="name-product">
                                <a href="">Ghế massage Max-care Max4D</a>
                            </div>
                            <div class="sale-off">
                              <span>-10.000.000đ</span>
                            </div>
                            <div class="wrap-price-buy">
                                <div class="wrap-price">
                                    <div class="price-sale">85.000.000đ</div>
                                    <div class="price">95.000.000đ</div>
                                </div>
                                <div class="buy">
                                  <a href="">
                                    <i class="fa fa-cart-plus"></i>
                                  </a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="item-product">
                        <div class="img-product">
                            <img src="/assest/image/image/ghe-massage-perfect-s406.jpg" alt=""/>
                        </div>
                        <div class="detail-product">
                            <div class="name-product">
                                <a href="">Ghế massage Max-care Max4D</a>
                            </div>
                            <div class="sale-off">
                              <span>-10.000.000đ</span>
                            </div>
                            <div class="wrap-price-buy">
                                <div class="wrap-price">
                                    <div class="price-sale">85.000.000đ</div>
                                    <div class="price">95.000.000đ</div>
                                </div>
                                <div class="buy">
                                  <a href="">
                                    <i class="fa fa-cart-plus"></i>
                                  </a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="btn-view-all border">
                    <a href=""><i class="fa fa-angle-double-down"></i>Xem thêm sản phẩm</a>
                </div>
            </div>
        </div>
    </div>
</section>
