<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <img src="http://suachua.bxh.vn/upload/product/1475296696sua-ghe-massage-Perfect.jpg">
    <p>Thông tin đơn hàng</p>
      <ul>
        <li>{{name}}</li>
        <li>Số điện thoại:  {{phone}} </li>
        <li>Email: {{email}}</li>
        <li>Địa chỉ: {{address}} </li>
        <li>Ghi chú thêm: {{note}} </li>
        <li>Sản phẩm:<br> {{output}} </li>
      </ul>
  </body>
</html>
