<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Thêm bài viết mới</title>
  </head>
  <body>
    <form method="post" action="news-create" enctype="multipart/form-data">
      <div class="form-group">
        <label>Tiêu đề</label>
        <input type="text" name="title" placeholder="Nhập title" class="form-control">
      </div>
      <div class="form-group">
        <label>Tiêu đề Seo</label>
        <input type="text" name="titleseo" placeholder="Nhập title seo" class="form-control">
      </div>
      <div class="form-group">
        <label>Mô tả ngắn</label>
          <textarea id="shortdescription"  name="shortdescription" placeholder="Nhập mô tả ngắn" class="form-control">mô tả ngắn</textarea>
      </div>
      <div class="form-group">
        <label>Mô tả dài</label>
        <textarea id="description" name="description" placeholder="Nhập mô tả " class="form-control">mô tả</textarea>
      </div>
      <div class="form-group">
        <label>Ngày đăng bài</label>
          <input type="datetime-local" name="day" placeholder="Nhập Ngày đăng bài" class="form-control">
      </div>
      <div class="form-group">
        <label>og tiêu đề</label>
          <input type="text" name="ogtitle" placeholder="Nhập og-title" class="form-control">
      </div>
      <div class="form-group">
        <label>og Mô tả</label>
          <input type="text" name="ogdescription" placeholder="Nhập og-description" class="form-control">
      </div>
      <div class="form-group">
        <label>Nhập từ khóa seo</label>
            <input type="text" name="keywords" placeholder="Nhập từ khóa" class="form-control">
      </div>
      <div class="form-group">
        <label>Tin tiêu điểm duy nhất</label>
            <input type="checkbox" name="hotnews" >
      </div>
      <div class="form-group">
        <label>Tin mới nhất</label>
          <input type="checkbox" name="lastnews" >
      </div>
      <div class="form-group">
        <label>Tin slide</label>
          <input type="checkbox" name="slidenews" >
      </div>
      <div class="form-group">
        <label>Chọn chủ đề</label>
        <select name="category">
          <option value="" selected disabled hidden>Chọn chủ đề</option>
          <%for(var i=0; i<categorys.count;i++){%>
          <option value="<%=categorys.category[i].name%>"><%=categorys.category[i].name%></option>
          <%}%>
        </select>
      </div>
      <div class="form-group">
        <label>import hình ảnh</label>
        <input type="file" name="image" placeholder="Import Hình Ảnh" class="form-control">
      </div>
      <div class="form-group">
        <label>Thứ tự tin</label>
        <input type="number" name="index" placeholder="Nhập thứ tự" class="form-control">
      </div>
      <input type="submit" value ="Thêm">
    </form>
  </body>
</html>
