


<section>
  <div class="container">
    <div class="col-xs-12">
                  <h2 class="ghemassageservice">Dịch vụ ghế massage</h2>
    </div>
    <div class="row">
            <div class="dichvuchothue">
                <div class="col-xs-4">
                  <div class="box-cho-thue desktop">
                    <div class="title-cho-thue orange">Sửa ghế massage tại nhà</div>
                    <div class="image-cho-thue"><img src="/assest/image/sua-ghe-massage-mien-bac.jpg" alt="Sửa ghế massage miền Bắc"></div>
                    <div class="des-cho-thue">Nhận sửa chữa tất cả các bệnh của tất cả hãng ghế massage: sửa bo mạch, điều khiển, motor v.v...</div>
                    <div class="btn-view-chothue">
                        <a href="/sua-ghe-massage"><i class="fa fa-angle-double-down"></i>Xem chi tiết tại đây</a>
                    </div>
                  </div>

                </div>
                <div class="col-xs-4">
                  <div class="box-cho-thue desktop">
                    <div class="title-cho-thue blue">Thay da ghế massage bền đẹp tại nhà</div>
                    <div class="image-cho-thue"><img src="/assest/image/boc-da-ghe-massage-mien-bac.jpg" alt="Thay da ghế massage bền đẹp tại miền Bắc"></div>
                    <div class="des-cho-thue">Xưởng bọc ghế massage bền đẹp, Chất liệu da cao cấp, Cam kết giá rẻ nhất, uy tín chất lượng </div>
                    <div class="btn-view-chothue">
                        <a href="/thay-da-ghe-massage"><i class="fa fa-angle-double-down"></i>Xem chi tiết tại đây</a>
                    </div>
                  </div>
                </div>
                <div class="col-xs-4">
                  <div class="box-cho-thue desktop">
                    <div class="title-cho-thue green">Cho thuê ghế massage theo yêu cầu</div>
                    <div class="image-cho-thue"><img src="/assest/image/cho-thue-ghe-massage.jpg" alt="cho thuê ghế massage tại nhà"></div>
                    <div class="des-cho-thue">Bạn đang có nhu cầu thuê ghế massage chăm sóc sức khỏe tại nhà. Hãy gọi cho chúng tôi để được tư vấn</div>
                    <div class="btn-view-chothue">
                        <a href="/cho-thue-ghe-massage"><i class="fa fa-angle-double-down"></i>Xem chi tiết tại đây</a>
                    </div>
                  </div>
                </div>
            </div>
    </div>
  </div>
</section>
