
<header class="header">
  <div class="top-header">
        <nav class="navbar navbar-default">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Giới thiệu<span class="sr-only">(current)</span></a></li>
                        <li><a href="#">Trả góp</a></li>
                        <li><a href="#">Vận chuyển</a></li>
                        <li><a href="#">Thanh toán</a></li>

                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                      <div class="phone">
                          <span class="tit">Trung tâm ghế massage</span>
                          <a href="tel:0989890248">09.89.89.0248</a>
                      </div>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->

            </div>
      <!-- /.container-fluid -->
        </nav>
  </div>
  <div class="top-header-2">
    <div class="container">
      <div class="row">
          <div class="col-xs-3">
            <div class="logo">
              <img alt="" src="/assest/image/logo.png">
            </div>
          </div>
          <div class="col-xs-6  no-gutter">
                    <div class="search">
                        <p><img src="/assest/image/iconxw.png" alt="">Từ khóa: ghế massage, máy chạy bộ, bếp ...</p>
                        <div class="form-search">
                            <input id="tbSearch" type="text" placeholder="Nhập từ khóa tìm kiếm theo sản phẩm, danh mục hay thương hiệu ..." onkeyup="CheckPostSearch(event)" onmouseover="checksuggest()">
                            <a  title="search" onclick="postSearch()">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </a>
                            <div class="suggest timkiem">
                              <ul class="pro-suggest">

                              </ul>
                            </div>
                        </div>
                    </div>
                </div>
          <div class="col-xs-3">
              <div class="wrap-cart">
                <a class="cart" href="/cart/shopping-cart" title="">
                      <span>Giỏ hàng:</span>
                      <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                      <%if(!session.cart){%>
                      <span class="so">0</span>
                      <%}else {%>
                          <span class="so"><%=session.cart.totalQty%></span>
                      <% } %>
                </a>
              </div>
          </div>
      </div>
    </div>
  </div>
</header>
