<aside>
  <div class="suggest">
            <figure class="template">
                <figcaption>Sản phẩm liên quan</figcaption>
                <b></b>
            </figure>
            <ul>
                <li>
                    <a class="img-link" href="">
                      <img src="/assest/image/ghe-massage-goodfor-default-01.jpg">
                    </a>
                    <dl>
                        <dt>
                            <a href="http://dienmayhoanglong.vn/ghe-massage/ghe-massage-goodfor-phien-ban-3d-re-h881-usa.html">
                              Ghế massage Goodfor(phiên bản 3D) RE-H881 USA
                            </a>
                        </dt>
                        <dd>
                            <span class="price-old">92.000.000 ₫</span>
                        </dd>
                        <dd>
                          <span class="price-current">46.000.000 ₫</span>
                        </dd>
                    </dl>
                </li>
                <li>
                    <a class="img-link" href="">
                      <img src="/assest/image/ghe-massage-goodfor-default-01.jpg">
                    </a>
                    <dl>
                        <dt>
                            <a href="http://dienmayhoanglong.vn/ghe-massage/ghe-massage-goodfor-phien-ban-3d-re-h881-usa.html">
                              Ghế massage Goodfor(phiên bản 3D) RE-H881 USA
                            </a>
                        </dt>
                        <dd>
                            <span class="price-old">92.000.000 ₫</span>
                        </dd>
                        <dd>
                          <span class="price-current">46.000.000 ₫</span>
                        </dd>
                    </dl>
                </li>
                <li>
                    <a class="img-link" href="">
                      <img src="/assest/image/ghe-massage-goodfor-default-01.jpg">
                    </a>
                    <dl>
                        <dt>
                            <a href="http://dienmayhoanglong.vn/ghe-massage/ghe-massage-goodfor-phien-ban-3d-re-h881-usa.html">
                              Ghế massage Goodfor(phiên bản 3D) RE-H881 USA
                            </a>
                        </dt>
                        <dd>
                            <span class="price-old">92.000.000 ₫</span>
                        </dd>
                        <dd>
                          <span class="price-current">46.000.000 ₫</span>
                        </dd>
                    </dl>
                </li>
                <li>
                    <a class="img-link" href="">
                      <img src="/assest/image/ghe-massage-goodfor-default-01.jpg">
                    </a>
                    <dl>
                        <dt>
                            <a href="http://dienmayhoanglong.vn/ghe-massage/ghe-massage-goodfor-phien-ban-3d-re-h881-usa.html">
                              Ghế massage Goodfor(phiên bản 3D) RE-H881 USA
                            </a>
                        </dt>
                        <dd>
                            <span class="price-old">92.000.000 ₫</span>
                        </dd>
                        <dd>
                          <span class="price-current">46.000.000 ₫</span>
                        </dd>
                    </dl>
                </li>
                <li>
                    <a class="img-link" href="">
                      <img src="/assest/image/ghe-massage-goodfor-default-01.jpg">
                    </a>
                    <dl>
                        <dt>
                            <a href="http://dienmayhoanglong.vn/ghe-massage/ghe-massage-goodfor-phien-ban-3d-re-h881-usa.html">
                              Ghế massage Goodfor(phiên bản 3D) RE-H881 USA
                            </a>
                        </dt>
                        <dd>
                            <span class="price-old">92.000.000 ₫</span>
                        </dd>
                        <dd>
                          <span class="price-current">46.000.000 ₫</span>
                        </dd>
                    </dl>
                </li>
                <li>
                    <a class="img-link" href="">
                      <img src="/assest/image/ghe-massage-goodfor-default-01.jpg">
                    </a>
                    <dl>
                        <dt>
                            <a href="http://dienmayhoanglong.vn/ghe-massage/ghe-massage-goodfor-phien-ban-3d-re-h881-usa.html">
                              Ghế massage Goodfor(phiên bản 3D) RE-H881 USA
                            </a>
                        </dt>
                        <dd>
                            <span class="price-old">92.000.000 ₫</span>
                        </dd>
                        <dd>
                          <span class="price-current">46.000.000 ₫</span>
                        </dd>
                    </dl>
                </li>
            </ul>
          </div>
</aside>
