<div class="sidebar-admin">
  <ul class="list-item">
    <li>Quản trị user
      <ul>
        <li><a href="/user"><i class="fa fa-angle-right" aria-hidden="true"></i>Quản lý user</a></li>
      </ul>
    </li>
    <li>Quản trị Sản phẩm
      <ul>
        <li><a href="/nganhhang"><i class="fa fa-angle-right" aria-hidden="true"></i>Ngành hàng</a></li>
        <li><a href="/trademark"><i class="fa fa-angle-right" aria-hidden="true"></i>Thương hiệu</a></li>
        <li><a href="/ghemassage"><i class="fa fa-angle-right" aria-hidden="true"></i>Sản phẩm</a></li>
        <li><a href="/date"><i class="fa fa-angle-right" aria-hidden="true"></i>Thời gian chạy Flash Sale</a></li>

      </ul>
    </li>
    <li>Quản trị Tin tức
      <ul>
        <li><a href="/category"><i class="fa fa-angle-right" aria-hidden="true"></i>Chủ đề</a></li>
        <li><a href="/bannernews"><i class="fa fa-angle-right" aria-hidden="true"></i>Banner Tin tức</a></li>
        <li><a href="/news"><i class="fa fa-angle-right" aria-hidden="true"></i>Biên soạn bài viết</a></li>
      </ul>
    </li>
    <li>Quản trị Dịch vụ
      <ul>
        <li><a href="/service"><i class="fa fa-angle-right" aria-hidden="true"></i>Dịch Vụ</a></li>
        <li><a href="/posts/posts-all"><i class="fa fa-angle-right" aria-hidden="true"></i>Post Dịch Vụ</a></li>
      </ul>
    </li>
    <li>Quản trị Banner
      <ul>
        <li><a href="/slidehome"><i class="fa fa-angle-right" aria-hidden="true"></i>Slide banner</a></li>
        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Banner tĩnh</a></li>
      </ul>
    </li>
  </ul>
</div>
