<aside class="slideshow-nganh-hang">
  <div id="owl-slide-nganh-hang" class="owl-carousel owl-theme">
      <div class="item">
          <a href="">
            <img src="/assest/image/slide-nganh-hang/slide-nganh-hang-01.png" alt="">
          </a>
      </div>
      <div class="item">
          <a href="">
            <img src="/assest/image/slide-nganh-hang/slide-nganh-hang-02.png" alt="">
          </a>
      </div>
      
  </div>
</aside>
