<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form method="post" action="/date/edit/<%=ghemassage._id%>" >
        <input type="datetime-local" name="date" placeholder="dd-MM-dd HH:mm:ss" >
        <input type="submit" value ="Update">
    </form>
  </body>
</html>
