<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form method="post" action="/category/edit/<%=ghemassage._id%>" >
      <input type="text" name="name" placeholder="Nhập tên chủ đề" value="<%=ghemassage.name%>">
      <input type="text" name="index" placeholder="Nhập Thứ Tự" value="<%=ghemassage.index%>">
      <input type="submit" value ="Update">
    </form>
  </body>
</html>
