<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Thêm chủ đề</title>
  </head>
  <body>
    <form method="post" action="category-create" >

      <input type="text" name="name" placeholder="Tên chủ để"/>
      <input type="text" name="index" placeholder="Nhập thứ tự" autocomplete="off">
      <input type="submit" value ="Thêm">
    </form>
  </body>
</html>
